.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #fefefe;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container{
    width:900px;
    height:500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);

    /* box-shadow: 0px 3px 3px 3px; */
}

.left{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #f34646;
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right{
    flex:2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.white_btn,
.green_btn{
    border-radius: 20px;
     width:180px;
     background-color: white;
     cursor:pointer;
     height:30px;
     font-size: 20px;
}


.form_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form_container h1{
    font-size: 40px;
    margin-top: 0;
}


.input {
    outline: none;
    border: none;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 14px;
  }

  .error_msg,
  .success_msg{
    width:350px;
    padding:15px;
    border-radius: 5px;
    margin: 5px 0;
    font-size:14px;
    text-align: center;
    background-color: #f34646;
    color: white;
  }

  .success_msg {
	background-color: #5cdd5c;
}

.green_btn {
	background-color: #f34646;
	color: white;
	margin: 10px;
}